.card {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: xx-small; /* Smaller font size */
  width: 6rem;
  height: 9rem;
  cursor: pointer;
  color: white;
  box-shadow: 0 2.5px 7.5px 1.25px rgba(0, 0, 0, 0.1);

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: filter 1s ease;
    border-radius: 2.5px;
  }

  h2 {
    position: absolute;
    inset: auto auto 7.5px 7.5px;
    margin-bottom: 7.5px;
    transition: inset 0.3s 0.3s ease-out;
    text-transform: uppercase;
  }

  p,
  h4 {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    max-height: calc(1.2em * 8);
    inset: auto auto 20px 7.5px;
  }

  h4 {
    margin-bottom: -5px;
    inset: auto auto 10px 7.5px;
    text-decoration: none;
  }

  &:hover h2 {
    inset: auto auto 110px 7.5px;
    transition: inset 0.3s ease-out;
  }

  &:hover p,
  &:hover h4 {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
  }

  &:hover img {
    filter: brightness(0.5);
  }
}
