.card-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  color: #01073b;
}
.main {
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}
